In [1]:
import pandas as pd
행정동= pd.read_csv('../../Data/회귀분석/서울시 읍면동마스터 정보.csv', encoding='ANSI')
행정동

       행정동_ID 행정동_명칭 자치구_명칭 시도_명칭
0     3138041    개군면    양평군   경기도
1     3138040    용문면    양평군   경기도
2     3138039    지평면    양평군   경기도
3     3138038    양동면    양평군   경기도
4     3138037    청운면    양평군   경기도
...       ...    ...    ...   ...
1131  1101057    무악동    종로구    서울
1132  1101056    평창동    종로구    서울
1133  1101055    부암동    종로구    서울
1134  1101054    삼청동    종로구    서울
1135  1101053    사직동    종로구    서울

[1136 rows x 4 columns]

In [5]:
승객수= 승객수['기준_날짜'].astype(str)
승객수.info()

<class 'pandas.core.series.Series'>
RangeIndex: 202672 entries, 0 to 202671
Series name: 기준_날짜
Non-Null Count   Dtype
--------------   -----
202672 non-null  object
dtypes: object(1)
memory usage: 1.5+ MB

In [4]:
승객수=pd.read_csv('../../Data/회귀분석/서울시 행정동별 대중교통 총 승차 승객수 정보.csv', encoding='ANSI')
승객수[승객수['기준_날짜']==20220101]
승객수= 승객수.astype({'기준_날짜':'str'})
승객수2022= 승객수[승객수['기준_날짜'].str.contains('2022')]
승객수2022

,기준_날짜,행정동_ID,승객_수,승객_수_00시,승객_수_01시,승객_수_02시,승객_수_03시,승객_수_04시,승객_수_05시,승객_수_06시,...,승객_수_14시,승객_수_15시,승객_수_16시,승객_수_17시,승객_수_18시,승객_수_19시,승객_수_20시,승객_수_21시,승객_수_22시,승객_수_23시
47064,20221231,1113069,9006.0,62.0,29.0,10.0,6.0,62.0,116.0,148.0,...,701.0,684.0,697.0,615.0,468.0,389.0,323.0,303.0,280.0,181.0
47065,20221231,1113052,12936.0,46.0,25.0,4.0,0.0,57.0,210.0,247.0,...,1047.0,1033.0,1097.0,1006.0,760.0,491.0,422.0,360.0,330.0,165.0
47066,20221231,1112068,4665.0,35.0,11.0,4.0,2.0,31.0,81.0,122.0,...,301.0,340.0,319.0,306.0,301.0,165.0,180.0,142.0,137.0,79.0
47067,20221231,1112073,8613.0,60.0,25.0,9.0,4.0,63.0,93.0,166.0,...,622.0,573.0,660.0,703.0,597.0,478.0,333.0,408.0,362.0,164.0
47068,20221231,1112056,12552.0,88.0,38.0,14.0,10.0,44.0,153.0,235.0,...,879.0,795.0,921.0,861.0,817.0,616.0,515.0,559.0,515.0,278.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201395,20220101,1110061,2480.0,5.0,0.0,0.0,0.0,5.0,43.0,66.0,...,193.0,212.0,196.0,195.0,119.0,112.0,69.0,112.0,38.0,30.0
201396,20220101,1110060,3485.0,19.0,0.0,0.0,1.0,24.0,78.0,79.0,...,291.0,313.0,278.0,243.0,196.0,126.0,120.0,148.0,86.0,43.0
201397,20220101,1110056,2377.0,1.0,0.0,0.0,0.0,7.0,54.0,83.0,...,218.0,215.0,192.0,176.0,125.0,76.0,72.0,61.0,34.0,14.0
201398,20220101,1115069,2229.0,6.0,0.0,0.0,0.0,4.0,23.0,61.0,...,189.0,144.0,174.0,201.0,165.0,83.0,80.0,159.0,128.0,39.0
201399,20220101,1115065,1353.0,5.0,0.0,0.0,0.0,7.0,13.0,35.0,...,95.0,130.0,107.0,102.0,77.0,45.0,91.0,92.0,53.0,21.0

In [9]:
mm= pd.merge(행정동, 승객수2022, on='행정동_ID')
mmm= mm.groupby(['자치구_명칭','행정동_명칭']).sum('승객_수')

In [12]:
df=mmm[["승객_수"]]
df.reset_index(inplace=True)

In [13]:
df.to_csv('../../Data/회귀분석/동별대중교통이용승객수.csv',encoding="utf-8")