In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.font_manager as fm
font_name=fm.FontProperties(fname="C:\\Windows\\Fonts\\malgun.ttf ").get_name()
plt.rc("font", family=font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"]=False

## 구별 공영주차장 면수 현황

In [17]:
park = pd.read_csv("C:\kee\Mid\주차장(동별)(2016년+이후)_20230404180429.csv")
park.shape

(29, 3)

In [18]:
park = park.drop(0)
park

    동별(1)  동별(2)     2022
1   동별(1)  동별(2)       공영
2   동별(1)  동별(2)  면수 (면수)
3      합계     소계   177281
4      합계    종로구     5833
5      합계     중구     5399
6      합계    용산구     6375
7      합계    성동구     7056
8      합계    광진구     4856
9      합계   동대문구     5862
10     합계    중랑구    11179
11     합계    성북구     6447
12     합계    강북구     5286
13     합계    도봉구     5258
14     합계    노원구     3662
15     합계    은평구     5160
16     합계   서대문구     5899
17     합계    마포구     6828
18     합계    양천구     7454
19     합계    강서구     8895
20     합계    구로구     5149
21     합계    금천구     3715
22     합계   영등포구     9481
23     합계    동작구     3336
24     합계    관악구     6970
25     합계    서초구     7292
26     합계    강남구    13087
27     합계    송파구    16802
28     합계    강동구    10000

In [19]:
park = park.drop([1,2,3]).reset_index(drop=True)
park

   동별(1) 동별(2)   2022
0     합계   종로구   5833
1     합계    중구   5399
2     합계   용산구   6375
3     합계   성동구   7056
4     합계   광진구   4856
5     합계  동대문구   5862
6     합계   중랑구  11179
7     합계   성북구   6447
8     합계   강북구   5286
9     합계   도봉구   5258
10    합계   노원구   3662
11    합계   은평구   5160
12    합계  서대문구   5899
13    합계   마포구   6828
14    합계   양천구   7454
15    합계   강서구   8895
16    합계   구로구   5149
17    합계   금천구   3715
18    합계  영등포구   9481
19    합계   동작구   3336
20    합계   관악구   6970
21    합계   서초구   7292
22    합계   강남구  13087
23    합계   송파구  16802
24    합계   강동구  10000

In [20]:
park = park.drop("동별(1)", axis=1)
park

   동별(2)   2022
0    종로구   5833
1     중구   5399
2    용산구   6375
3    성동구   7056
4    광진구   4856
5   동대문구   5862
6    중랑구  11179
7    성북구   6447
8    강북구   5286
9    도봉구   5258
10   노원구   3662
11   은평구   5160
12  서대문구   5899
13   마포구   6828
14   양천구   7454
15   강서구   8895
16   구로구   5149
17   금천구   3715
18  영등포구   9481
19   동작구   3336
20   관악구   6970
21   서초구   7292
22   강남구  13087
23   송파구  16802
24   강동구  10000

In [21]:
park = park.rename(columns={'동별(2)': '구별', '2022': '면수'})
park

      구별     면수
0    종로구   5833
1     중구   5399
2    용산구   6375
3    성동구   7056
4    광진구   4856
5   동대문구   5862
6    중랑구  11179
7    성북구   6447
8    강북구   5286
9    도봉구   5258
10   노원구   3662
11   은평구   5160
12  서대문구   5899
13   마포구   6828
14   양천구   7454
15   강서구   8895
16   구로구   5149
17   금천구   3715
18  영등포구   9481
19   동작구   3336
20   관악구   6970
21   서초구   7292
22   강남구  13087
23   송파구  16802
24   강동구  10000

## 구별 주민등록 인구

In [35]:
people = pd.read_csv("C:\kee\Mid\주민등록인구(월별)_20230405092746.csv")
people.shape

(28, 5)

In [36]:
people

    동별(1)  동별(2) 2023. 02 2023. 02.1 2023. 02.2
0   동별(1)  동별(2)   합계 (명)     합계 (명)     합계 (명)
1   동별(1)  동별(2)       소계         남자         여자
2      합계     소계  9664666    4672790    4991876
3      합계    종로구   152167      72977      79190
4      합계     중구   130862      63390      67472
5      합계    용산구   232804     112817     119987
6      합계    성동구   287447     139319     148128
7      합계    광진구   350820     168004     182816
8      합계   동대문구   353869     172033     181836
9      합계    중랑구   390018     191231     198787
10     합계    성북구   441586     210974     230612
11     합계    강북구   297265     143739     153526
12     합계    도봉구   313137     151746     161391
13     합계    노원구   507104     243605     263499
14     합계    은평구   469489     223342     246147
15     합계   서대문구   320887     150867     170020
16     합계    마포구   376183     175195     200988
17     합계    양천구   443160     216468     226692
18     합계    강서구   574062     275161     298901
19     합계    구로구   418282     206350     211932
20     합계    금천구   242503     122554     119949
21     합계   영등포구   398657     196438     202219
22     합계    동작구   389322     187634     201688
23     합계    관악구   501998     251078     250920
24     합계    서초구   409220     195387     213833
25     합계    강남구   534971     255810     279161
26     합계    송파구   664553     319594     344959
27     합계    강동구   464300     227077     237223

In [38]:
people = people.drop([0,1,2]).reset_index(drop=True)
people

   동별(1) 동별(2) 2023. 02 2023. 02.1 2023. 02.2
0     합계   성동구   287447     139319     148128
1     합계   광진구   350820     168004     182816
2     합계  동대문구   353869     172033     181836
3     합계   중랑구   390018     191231     198787
4     합계   성북구   441586     210974     230612
5     합계   강북구   297265     143739     153526
6     합계   도봉구   313137     151746     161391
7     합계   노원구   507104     243605     263499
8     합계   은평구   469489     223342     246147
9     합계  서대문구   320887     150867     170020
10    합계   마포구   376183     175195     200988
11    합계   양천구   443160     216468     226692
12    합계   강서구   574062     275161     298901
13    합계   구로구   418282     206350     211932
14    합계   금천구   242503     122554     119949
15    합계  영등포구   398657     196438     202219
16    합계   동작구   389322     187634     201688
17    합계   관악구   501998     251078     250920
18    합계   서초구   409220     195387     213833
19    합계   강남구   534971     255810     279161
20    합계   송파구   664553     319594     344959
21    합계   강동구   464300     227077     237223

In [39]:
people = people.drop("동별(1)", axis=1)
people

   동별(2) 2023. 02 2023. 02.1 2023. 02.2
0    성동구   287447     139319     148128
1    광진구   350820     168004     182816
2   동대문구   353869     172033     181836
3    중랑구   390018     191231     198787
4    성북구   441586     210974     230612
5    강북구   297265     143739     153526
6    도봉구   313137     151746     161391
7    노원구   507104     243605     263499
8    은평구   469489     223342     246147
9   서대문구   320887     150867     170020
10   마포구   376183     175195     200988
11   양천구   443160     216468     226692
12   강서구   574062     275161     298901
13   구로구   418282     206350     211932
14   금천구   242503     122554     119949
15  영등포구   398657     196438     202219
16   동작구   389322     187634     201688
17   관악구   501998     251078     250920
18   서초구   409220     195387     213833
19   강남구   534971     255810     279161
20   송파구   664553     319594     344959
21   강동구   464300     227077     237223

In [43]:
people = people.rename(columns={'동별(2)': '구별', '2023. 02': '합계(명)', '2023. 02.1':'남자(명)',
                               '2023. 02.2':'여자(명)'})
people

      구별   합계(명)   남자(명)   여자(명)
0    성동구  287447  139319  148128
1    광진구  350820  168004  182816
2   동대문구  353869  172033  181836
3    중랑구  390018  191231  198787
4    성북구  441586  210974  230612
5    강북구  297265  143739  153526
6    도봉구  313137  151746  161391
7    노원구  507104  243605  263499
8    은평구  469489  223342  246147
9   서대문구  320887  150867  170020
10   마포구  376183  175195  200988
11   양천구  443160  216468  226692
12   강서구  574062  275161  298901
13   구로구  418282  206350  211932
14   금천구  242503  122554  119949
15  영등포구  398657  196438  202219
16   동작구  389322  187634  201688
17   관악구  501998  251078  250920
18   서초구  409220  195387  213833
19   강남구  534971  255810  279161
20   송파구  664553  319594  344959
21   강동구  464300  227077  237223

In [44]:
result = pd.merge(park, people, on='구별')
result

      구별     면수   합계(명)   남자(명)   여자(명)
0    성동구   7056  287447  139319  148128
1    광진구   4856  350820  168004  182816
2   동대문구   5862  353869  172033  181836
3    중랑구  11179  390018  191231  198787
4    성북구   6447  441586  210974  230612
5    강북구   5286  297265  143739  153526
6    도봉구   5258  313137  151746  161391
7    노원구   3662  507104  243605  263499
8    은평구   5160  469489  223342  246147
9   서대문구   5899  320887  150867  170020
10   마포구   6828  376183  175195  200988
11   양천구   7454  443160  216468  226692
12   강서구   8895  574062  275161  298901
13   구로구   5149  418282  206350  211932
14   금천구   3715  242503  122554  119949
15  영등포구   9481  398657  196438  202219
16   동작구   3336  389322  187634  201688
17   관악구   6970  501998  251078  250920
18   서초구   7292  409220  195387  213833
19   강남구  13087  534971  255810  279161
20   송파구  16802  664553  319594  344959
21   강동구  10000  464300  227077  237223