In [1]:
import numpy as np
import pandas as pd

In [213]:
df=pd.read_csv('C:\\Users\\acorn\\Desktop\\오원석\\중간프로젝트\\광진구\\CARD_SUBWAY_MONTH_2022.csv',encoding='cp949')
df

             역명  승차총승객수  하차총승객수
0            수서    7370    7076
1           학여울     461     473
2            대청    3224    2903
3            일원    3321    2803
4            창동       1       0
...         ...     ...     ...
219740      신용산   11025   12099
219741       석수    5643    5147
219742     금천구청    7519    7426
219743  가산디지털단지    5579    7299
219744       구로   11318   12080

[219745 rows x 3 columns]

In [214]:
df['총승객수'] = df['승차총승객수'] + df['하차총승객수']

In [215]:
df.groupby('역명').mean()

                 승차총승객수        하차총승객수          총승객수
역명
4.19민주묘지    3092.063014   2916.430137   6008.493151
가능          6155.139726   5891.709589  12046.849315
가락시장        7328.176712   7643.024658  14971.201370
가산디지털단지    25051.253425  26193.217808  51244.471233
가양         18684.052055  18126.961644  36811.013699
...                 ...           ...           ...
회기         23727.701370  22899.827397  46627.528767
회룡         11530.824658  11404.904110  22935.728767
회현(남대문시장)  21749.413699  22686.336986  44435.750685
효창공원앞       4539.669863   4420.032877   8959.702740
흑석(중앙대입구)   7911.495890   8084.452055  15995.947945

[530 rows x 3 columns]

In [216]:
import re
aa=df.groupby('역명').mean()
aa
aa = aa.reset_index()
aa['역명'] = aa['역명'].apply(lambda x: re.findall('[^()]+', x)[0])
aa = aa.set_index('역명')
aa

                승차총승객수        하차총승객수          총승객수
역명
4.19민주묘지   3092.063014   2916.430137   6008.493151
가능         6155.139726   5891.709589  12046.849315
가락시장       7328.176712   7643.024658  14971.201370
가산디지털단지   25051.253425  26193.217808  51244.471233
가양        18684.052055  18126.961644  36811.013699
...                ...           ...           ...
회기        23727.701370  22899.827397  46627.528767
회룡        11530.824658  11404.904110  22935.728767
회현        21749.413699  22686.336986  44435.750685
효창공원앞      4539.669863   4420.032877   8959.702740
흑석         7911.495890   8084.452055  15995.947945

[530 rows x 3 columns]

In [217]:
seoul_station=[
'삼성', '선릉', '역삼','강남', '압구정', '신사', '매봉', '도곡', '대치', '학여울', '대청', '일원', '수서', '청담', '강남구청', '학동', '논현', '언주', '선정릉', '삼성중앙', '봉은사','천호', '강동', '길동', '굽은다리', '명일', '고덕', '상일동', '둔촌동', '강일', '암사', '천호', '강동구청', '둔촌오륜', '중앙보훈병원'
,'수유', '미아', '미아사거리'
,'방화', '개화산', '김포공항', '송정', '마곡', '발산', '우장산', '화곡', '까치산'
,'낙성대', '서울대입구', '봉천', '신림'
,'건대입구', '구의', '강변', '군자', '아차산', '광나루', '중곡', '군자', '어린이대공원', '건대입구', '뚝섬유원지'
,'구로디지털단지', '대림', '신도림', '도림천', '남구로', '천왕', '온수'
,'가산디지털단지'
,'당고개', '상계', '노원', '석계', '태릉입구', '화랑대', '수락산', '마들', '노원', '중계', '하계', '공릉', '태릉입구'
,'창동', '쌍문', '도봉산'
,'신설동', '제기동', '청량리', '용두', '신설동', '장한평'
,'사당', '신대방', '동작', '이수', '사당', '이수', '남성', '숭실대입구', '상도', '장승배기', '신대방삼거리', '보라매'
,'합정', '홍대입구', '신촌', '이대', '아현', '마포', '공덕', '애오개', '월드컵경기장', '마포구청', '망원', '합정', '상수', '광흥창', '대흥', '공덕'
,'충정로', '홍제', '무악재', '독립문', '충정로'
,'교대', '서초', '방배', '잠원', '고속터미널', '교대', '남부터미널', '양재', '남태령', '반포', '고속터미널', '내방'
,'상왕십리', '왕십리', '한양대', '뚝섬', '성수', '용답', '신답', '금호', '옥수', '신금호', '행당', '왕십리', '마장', '답십리'
,'길음', '성신여대입구', '한성대입구', '보문', '안암', '고려대', '월곡', '상월곡', '돌곶이'
,'잠실나루', '잠실', '잠실새내', '종합운동장', '가락시장', '경찰병원', '오금', '올림픽공원', '방이', '오금', '개롱', '거여', '마천', '몽촌토성', '잠실', '석촌', '송파', '가락시장', '문정', '장지', '복정', '종합운동장', '삼전', '석촌고분', '송파나루', '한성백제', '올림픽공원'
,'양천구청', '신정네거리', '신정', '목동', '오목교'
,'문래', '영등포구청', '당산', '양평', '영등포구청', '영등포시장', '신길', '여의도', '여의나루', '신풍', '대림'
,'서울', '숙대입구', '삼각지', '신용산', '이촌', '효창공원앞', '삼각지', '녹사평', '이태원', '한강진'
,'구파발', '연신내', '불광', '녹번', '응암', '역촌', '불광', '독바위', '연신내', '구산', '새절', '증산', '디지털미디어시티'
,'종각', '종로3가', '종로5가', '동대문', '동묘앞', '경복궁', '안국', '종로3가', '혜화', '동대문', '서대문', '광화문', '종로3가', '동묘앞', '창신'
,'시청', '을지로입구', '을지로3가', '을지로4가', '동대문역사문화공원', '신당', '을지로3가', '충무로', '동대입구', '약수', '동대문역사문화공원', '충무로', '명동', '회현', '을지로4가', '동대문역사문화공원', '청구', '버티고개', '약수', '청구', '신당'
,'봉화산', '신내', '먹골', '중화', '상봉', '면목', '사가정', '용마산']
len(seoul_station)

270

In [218]:
aa.index = aa.index.tolist()

In [219]:
df2=aa.loc[aa.index.isin(seoul_station)]
df2 = df2.reset_index()
df2['역명'] = df2['index']
df2 = df2.set_index('역명')
first_station=df2.drop('index',axis=1)
first_station

               승차총승객수        하차총승객수           총승객수
역명
가락시장      7328.176712   7643.024658   14971.201370
가산디지털단지  25051.253425  26193.217808   51244.471233
강남       71628.309589  70192.649315  141820.958904
강남구청     11128.121918  12537.486301   23665.608219
강동       16371.367123  15734.035616   32105.402740
...               ...           ...            ...
홍제       15872.071233  15065.736986   30937.808219
화곡       25391.775342  23586.210959   48977.986301
화랑대      10495.249315   8227.161644   18722.410959
회현       21749.413699  22686.336986   44435.750685
효창공원앞     4539.669863   4420.032877    8959.702740

[233 rows x 3 columns]

In [220]:
df3=first_station.index.tolist()
df3

['가락시장',
 '가산디지털단지',
 '강남',
 '강남구청',
 '강동',
 '강동구청',
 '강변',
 '강일',
 '개롱',
 '개화산',
 '거여',
 '건대입구',
 '경복궁',
 '경찰병원',
 '고덕',
 '고려대',
 '고속터미널',
 '공덕',
 '공릉',
 '광나루',
 '광화문',
 '광흥창',
 '교대',
 '구로디지털단지',
 '구산',
 '구의',
 '구파발',
 '군자',
 '굽은다리',
 '금호',
 '길동',
 '길음',
 '김포공항',
 '까치산',
 '낙성대',
 '남구로',
 '남부터미널',
 '남성',
 '남태령',
 '내방',
 '노원',
 '녹번',
 '녹사평',
 '논현',
 '답십리',
 '당고개',
 '당산',
 '대림',
 '대청',
 '대치',
 '대흥',
 '도곡',
 '도림천',
 '도봉산',
 '독립문',
 '독바위',
 '돌곶이',
 '동대문',
 '동대문역사문화공원',
 '동대입구',
 '동묘앞',
 '동작',
 '둔촌동',
 '둔촌오륜',
 '디지털미디어시티',
 '뚝섬',
 '뚝섬유원지',
 '마곡',
 '마들',
 '마장',
 '마천',
 '마포',
 '마포구청',
 '망원',
 '매봉',
 '먹골',
 '면목',
 '명동',
 '명일',
 '목동',
 '몽촌토성',
 '무악재',
 '문래',
 '문정',
 '미아',
 '미아사거리',
 '반포',
 '발산',
 '방배',
 '방이',
 '방화',
 '버티고개',
 '보라매',
 '보문',
 '복정',
 '봉은사',
 '봉천',
 '봉화산',
 '불광',
 '사가정',
 '사당',
 '삼각지',
 '삼성',
 '삼성중앙',
 '삼전',
 '상계',
 '상도',
 '상봉',
 '상수',
 '상왕십리',
 '상월곡',
 '상일동',
 '새절',
 '서대문',
 '서울대입구',
 '서초',
 '석계',
 '석촌',
 '석촌고분',
 '선릉',
 '선정릉',
 '성수',
 '성신여대입구',
 '송정',
 '송파',
 '송파나루',
 '수락산',
 '수서',
 '수유',
 '숙대입구',
 '숭실대입구',
 '시청',
 '신금호',
 '신길',
 '신내',
 '신답',
 '신당',
 '신대방',
 '신대방삼거리',
 '신도림',
 '신림',
 '신사',
 '신설동',
 '신용산',
 '신정',
 '신정네거리',
 '신촌',
 '신풍',
 '쌍문',
 '아차산',
 '아현',
 '안국',
 '안암',
 '암사',
 '압구정',
 '애오개',
 '약수',
 '양재',
 '양천구청',
 '양평',
 '어린이대공원',
 '언주',
 '여의나루',
 '여의도',
 '역삼',
 '역촌',
 '연신내',
 '영등포구청',
 '영등포시장',
 '오금',
 '오목교',
 '옥수',
 '온수',
 '올림픽공원',
 '왕십리',
 '용답',
 '용두',
 '용마산',
 '우장산',
 '월곡',
 '월드컵경기장',
 '을지로3가',
 '을지로4가',
 '을지로입구',
 '응암',
 '이대',
 '이수',
 '이촌',
 '이태원',
 '일원',
 '잠실',
 '잠실나루',
 '잠실새내',
 '잠원',
 '장승배기',
 '장지',
 '장한평',
 '제기동',
 '종각',
 '종로3가',
 '종로5가',
 '종합운동장',
 '중계',
 '중곡',
 '중앙보훈병원',
 '중화',
 '증산',
 '창동',
 '창신',
 '천왕',
 '천호',
 '청구',
 '청담',
 '청량리',
 '충무로',
 '충정로',
 '태릉입구',
 '하계',
 '학동',
 '학여울',
 '한강진',
 '한성대입구',
 '한성백제',
 '한양대',
 '합정',
 '행당',
 '혜화',
 '홍대입구',
 '홍제',
 '화곡',
 '화랑대',
 '회현',
 '효창공원앞']

In [221]:
a=seoul_station
b=df3

for i in b:
    if i in a:
        a.remove(i)
        
a

['천호',
 '군자',
 '건대입구',
 '노원',
 '태릉입구',
 '신설동',
 '사당',
 '이수',
 '합정',
 '공덕',
 '충정로',
 '교대',
 '고속터미널',
 '왕십리',
 '오금',
 '잠실',
 '가락시장',
 '종합운동장',
 '올림픽공원',
 '영등포구청',
 '대림',
 '서울',
 '삼각지',
 '불광',
 '연신내',
 '종로3가',
 '동대문',
 '종로3가',
 '동묘앞',
 '을지로3가',
 '동대문역사문화공원',
 '충무로',
 '을지로4가',
 '동대문역사문화공원',
 '약수',
 '청구',
 '신당']

In [222]:
aaa=['천호','군자','건대입구','노원','태릉입구', '신설동', '사당', '이수', '합정', '공덕', '충정로', '교대', '고속터미널', '왕십리', '오금', '잠실', '가락시장', '종합운동장', '올림픽공원', '영등포구청', '대림', '서울', '삼각지', '불광', '연신내', '종로3가', '동대문', '종로3가', '동묘앞', '서울', '을지로3가', '동대문역사문화공원', '충무로', '을지로4가', '동대문역사문화공원', '약수', '청구', '신당']
len(aaa)

38

In [223]:
df2 = aa.loc[aa.index.isin(seoul_station)].reset_index().rename(columns={'index': '역명'}).set_index('역명')
last = aa.loc[aa.index.isin(aaa)].reset_index().rename(columns={'index': '역명'}).set_index('역명')
last

                 승차총승객수        하차총승객수          총승객수
역명
가락시장        7328.176712   7643.024658  14971.201370
건대입구       22781.394521  24328.587671  47109.982192
고속터미널      24078.181735  24046.683105  48124.864840
공덕          8307.117808   8413.451370  16720.569178
교대         20294.489041  19996.065753  40290.554795
군자         11766.345205  10861.067123  22627.412329
노원         17562.046575  19081.038356  36643.084932
대림         14755.600000  15040.360274  29795.960274
동대문        13733.861644  13693.761644  27427.623288
동대문역사문화공원   9403.369863   9561.757991  18965.127854
동묘앞         8142.412329   8337.345205  16479.757534
불광          9382.460274   9912.321918  19294.782192
사당         29365.698630  29408.706849  58774.405479
삼각지         5695.412329   5590.505479  11285.917808
신당         10055.890411  10391.686301  20447.576712
신설동         5852.036530   5654.064840  11506.101370
약수          7391.541096   7205.384932  14596.926027
연신내        21410.310714  20250.428571  41660.739286
영등포구청      11109.098630  11446.516438  22555.615068
오금          4326.301370   4080.857534   8407.158904
올림픽공원       5607.308219   5404.905479  11012.213699
왕십리        10980.543379  10858.903196  21839.446575
을지로3가      14327.493151  14378.779452  28706.272603
을지로4가       8204.997260   8313.206849  16518.204110
이수         14304.515068  13677.060274  27981.575342
잠실         41227.127397  41819.486301  83046.613699
종로3가       14974.754338  14801.189041  29775.943379
종합운동장       7374.680822   7900.043836  15274.724658
천호         15209.706849  16127.686301  31337.393151
청구          3362.883562   3267.298630   6630.182192
충무로        13826.542149  14422.396694  28248.938843
충정로         6180.619178   6466.101370  12646.720548
태릉입구        6639.065753   6662.580822  13301.646575
합정         20831.524658  21843.717808  42675.242466

In [224]:
last_station = pd.concat([first_station,last]).round()
last_station

          승차총승객수   하차총승객수      총승객수
역명
가락시장      7328.0   7643.0   14971.0
가산디지털단지  25051.0  26193.0   51244.0
강남       71628.0  70193.0  141821.0
강남구청     11128.0  12537.0   23666.0
강동       16371.0  15734.0   32105.0
...          ...      ...       ...
청구        3363.0   3267.0    6630.0
충무로      13827.0  14422.0   28249.0
충정로       6181.0   6466.0   12647.0
태릉입구      6639.0   6663.0   13302.0
합정       20832.0  21844.0   42675.0

[267 rows x 3 columns]

In [256]:
gangnam = ['삼성', '선릉', '역삼','강남', '압구정', '신사', '매봉', '도곡', '대치', 
              '학여울', '대청', '일원', '수서', '청담', '강남구청', '학동', '논현', 
              '언주', '선정릉', '삼성중앙', '봉은사']

gangnam_stations = last_station.loc[last_station.index.isin(gangnam)]

# 새로운 인덱스를 가진 데이터프레임 생성
gangnamgu_df = pd.DataFrame(columns=gangnam_stations.columns, index=['강남구'])

# 각 열의 값들을 평균내어 새로운 데이터프레임에 할당
for col in gangnam_stations.columns:
    gangnamgu_df.loc['강남구', col] = gangnam_stations[col].mean()

# 결과 확인

    
gangnamgu_df = gangnamgu_df.reset_index().rename(columns={'index': '구별'})
gangnamgu_df.set_index('구별', inplace=True)
gangnamgu_df

           승차총승객수        하차총승객수          총승객수
구별
강남구  19304.142857  19938.857143  39242.904762

In [257]:
gangdong = ['천호', '강동', '길동', '굽은다리', '명일', '고덕', '상일동', '둔촌동', '강일', '암사', '천호', '강동구청', '둔촌오륜', '중앙보훈병원']
gangdong_stations = last_station.loc[last_station.index.isin(gangdong)]
gangdong_stations

gangdonggu_df = pd.DataFrame(columns=gangdong_stations.columns, index=['강동구'])

# 각 열의 값들을 평균내어 새로운 데이터프레임에 할당
for col in gangdong_stations.columns:
    gangdonggu_df.loc['강동구', col] = gangdong_stations[col].mean()

# 결과 확인
gangdonggu_df = gangdonggu_df.reset_index().rename(columns={'index': '구별'})
gangdonggu_df.set_index('구별', inplace=True)
gangdonggu_df

          승차총승객수       하차총승객수          총승객수
구별
강동구  9944.642857  9759.642857  19704.142857

In [258]:
gangbuk=['수유', '미아', '미아사거리']
gangbuk_stations = last_station.loc[last_station.index.isin(gangbuk)]
gangbuk_stations

gangbukgu_df = pd.DataFrame(columns=gangbuk_stations.columns, index=['강북구'])

for col in gangbuk_stations.columns:
    gangbukgu_df.loc['강북구', col] = gangbuk_stations[col].mean()

gangbukgu_df = gangbukgu_df.reset_index().rename(columns={'index': '구별'})
gangbukgu_df.set_index('구별', inplace=True)
gangbukgu_df

      승차총승객수        하차총승객수          총승객수
구별
강북구  22947.0  22560.333333  45507.666667

In [259]:
gangseo = ['방화', '개화산', '김포공항', '송정', '마곡', '발산', '우장산', '화곡', '까치산']
gangseo_stations = last_station.loc[last_station.index.isin(gangseo)]
gangseo_stations

gangseogu_df = pd.DataFrame(columns=gangseo_stations.columns, index=['강서구'])

for col in gangseo_stations.columns:
    gangseogu_df.loc['강서구', col] = gangseo_stations[col].mean()

gangseogu_df = gangseogu_df.reset_index().rename(columns={'index': '구별'})
gangseogu_df.set_index('구별', inplace=True)    
gangseogu_df

           승차총승객수        하차총승객수          총승객수
구별
강서구  12976.888889  12552.111111  25529.222222

In [260]:
gwanak=['낙성대', '서울대입구', '봉천', '신림']
gwanak_stations = last_station.loc[last_station.index.isin(gwanak)]
gwanak_stations

gwanakgu_df = pd.DataFrame(columns=gwanak_stations.columns, index=['관악구'])

for col in gwanak_stations.columns:
    gwanakgu_df.loc['관악구', col] = gwanak_stations[col].mean()

gwanakgu_df = gwanakgu_df.reset_index().rename(columns={'index': '구별'})
gwanakgu_df.set_index('구별', inplace=True) 
gwanakgu_df

       승차총승객수    하차총승객수      총승객수
구별
관악구  30948.25  29882.75  60831.25

In [261]:
gwangjin=['건대입구', '구의', '강변', '군자', '아차산', '광나루', '중곡', '군자', '어린이대공원', '건대입구', '뚝섬유원지']
gwangjin_stations = last_station.loc[last_station.index.isin(gwangjin)]
gwangjin_stations

gwangjingu_df = pd.DataFrame(columns=gwangjin_stations.columns, index=['광진구'])

for col in gwangjin_stations.columns:
    gwangjingu_df.loc['광진구', col] = gwangjin_stations[col].mean()

gwangjingu_df = gwangjingu_df.reset_index().rename(columns={'index': '구별'})
gwangjingu_df.set_index('구별', inplace=True) 
gwangjingu_df

           승차총승객수        하차총승객수          총승객수
구별
광진구  16128.909091  15885.636364  32014.636364

In [262]:
guro=['구로디지털단지', '대림', '신도림', '도림천', '남구로', '천왕', '온수']
guro_stations = last_station.loc[last_station.index.isin(guro)]
guro_stations

gurogu_df = pd.DataFrame(columns=guro_stations.columns, index=['구로구'])

for col in guro_stations.columns:
    gurogu_df.loc['구로구', col] = guro_stations[col].mean()

gurogu_df = gurogu_df.reset_index().rename(columns={'index': '구별'})
gurogu_df.set_index('구별', inplace=True) 
gurogu_df

       승차총승객수     하차총승객수       총승객수
구별
구로구  16973.75  16989.375  33963.125

In [263]:
geumchun=['가산디지털단지']
geumchun_stations = last_station.loc[last_station.index.isin(geumchun)]
geumchun_stations

geumchungu_df = pd.DataFrame(columns=geumchun_stations.columns, index=['금천구'])

for col in geumchun_stations.columns:
    geumchungu_df.loc['금천구', col] = geumchun_stations[col].mean()

geumchungu_df = geumchungu_df.reset_index().rename(columns={'index': '구별'})
geumchungu_df.set_index('구별', inplace=True) 
geumchungu_df

      승차총승객수   하차총승객수     총승객수
구별
금천구  25051.0  26193.0  51244.0

In [264]:
nowon=['당고개', '상계', '노원', '석계', '태릉입구', '화랑대', '수락산', '마들', '노원', '중계', '하계', '공릉', '태릉입구']
nowon_stations = last_station.loc[last_station.index.isin(nowon)]
nowon_stations

nowongu_df = pd.DataFrame(columns=nowon_stations.columns, index=['노원구'])

for col in nowon_stations.columns:
    nowongu_df.loc['노원구', col] = nowon_stations[col].mean()

nowongu_df = nowongu_df.reset_index().rename(columns={'index': '구별'})
nowongu_df.set_index('구별', inplace=True) 
nowongu_df

           승차총승객수        하차총승객수          총승객수
구별
노원구  12072.538462  11778.692308  23851.384615

In [265]:
dobong=['창동', '쌍문', '도봉산']
dobong_stations = last_station.loc[last_station.index.isin(dobong)]
dobong_stations

dobonggu_df = pd.DataFrame(columns=dobong_stations.columns, index=['도봉구'])

for col in dobong_stations.columns:
    dobonggu_df.loc['도봉구', col] = dobong_stations[col].mean()

dobonggu_df = dobonggu_df.reset_index().rename(columns={'index': '구별'})
dobonggu_df.set_index('구별', inplace=True) 
dobonggu_df

           승차총승객수        하차총승객수     총승객수
구별
도봉구  17297.666667  16777.666667  34075.0

In [266]:
dongdaemoon=['신설동', '제기동', '청량리', '용두', '신설동', '장한평']
dongdaemoon_stations = last_station.loc[last_station.index.isin(dongdaemoon)]
dongdaemoon_stations

dongdaemoongu_df = pd.DataFrame(columns=dongdaemoon_stations.columns, index=['동대문구'])

for col in dongdaemoon_stations.columns:
    dongdaemoongu_df.loc['동대문구', col] = dongdaemoon_stations[col].mean()

dongdaemoongu_df = dongdaemoongu_df.reset_index().rename(columns={'index': '구별'})
dongdaemoongu_df.set_index('구별', inplace=True) 
dongdaemoongu_df

            승차총승객수        하차총승객수          총승객수
구별
동대문구  10426.333333  10420.333333  20846.666667

In [267]:
dongjak=['사당', '신대방', '동작', '이수', '사당', '이수', '남성', '숭실대입구', '상도', '장승배기', '신대방삼거리', '보라매']
dongjak_stations = last_station.loc[last_station.index.isin(dongjak)]
dongjak_stations

dongjakgu_df = pd.DataFrame(columns=dongjak_stations.columns, index=['동작구'])

for col in dongjak_stations.columns:
    dongjakgu_df.loc['동작구', col] = dongjak_stations[col].mean()

dongjakgu_df = dongjakgu_df.reset_index().rename(columns={'index': '구별'})
dongjakgu_df.set_index('구별', inplace=True) 
dongjakgu_df

           승차총승객수        하차총승객수      총승객수
구별
동작구  14362.083333  14036.583333  28398.75

In [268]:
mapo=['합정', '홍대입구', '신촌', '이대', '아현', '마포', '공덕', '애오개', '월드컵경기장', '마포구청', '망원', '합정', '상수', '광흥창', '대흥', '공덕']
mapo_stations = last_station.loc[last_station.index.isin(mapo)]
mapo_stations

mapogu_df = pd.DataFrame(columns=mapo_stations.columns, index=['마포구'])

for col in mapo_stations.columns:
    mapogu_df.loc['마포구', col] = mapo_stations[col].mean()

mapogu_df = mapogu_df.reset_index().rename(columns={'index': '구별'})
mapogu_df.set_index('구별', inplace=True) 
mapogu_df

         승차총승객수   하차총승객수        총승객수
구별
마포구  12114.4375  12481.5  24595.8125

In [269]:
seodaemoon=['충정로', '홍제', '무악재', '독립문', '충정로']
seodaemoon_stations = last_station.loc[last_station.index.isin(seodaemoon)]
seodaemoon_stations

seodaemoongu_df = pd.DataFrame(columns=seodaemoon_stations.columns, index=['서대문구'])

for col in seodaemoon_stations.columns:
    seodaemoongu_df.loc['서대문구', col] = seodaemoon_stations[col].mean()

seodaemoongu_df = seodaemoongu_df.reset_index().rename(columns={'index': '구별'})
seodaemoongu_df.set_index('구별', inplace=True) 
seodaemoongu_df

      승차총승객수  하차총승객수     총승객수
구별
서대문구  7659.2  7676.0  15335.4

In [270]:
seocho=['교대', '서초', '방배', '잠원', '고속터미널', '교대', '남부터미널', '양재', '남태령', '반포', '고속터미널', '내방']
seocho_stations = last_station.loc[last_station.index.isin(seocho)]
seocho_stations

seochogu_df = pd.DataFrame(columns=seocho_stations.columns, index=['서초구'])

for col in seocho_stations.columns:
    seochogu_df.loc['서초구', col] = seocho_stations[col].mean()

seochogu_df = seochogu_df.reset_index().rename(columns={'index': '구별'})
seochogu_df.set_index('구별', inplace=True) 
seochogu_df

           승차총승객수        하차총승객수          총승객수
구별
서초구  17011.166667  17169.916667  34181.333333

In [271]:
sungdong=['상왕십리', '왕십리', '한양대', '뚝섬', '성수', '용답', '신답', '금호', '옥수', '신금호', '행당', '왕십리', '마장', '답십리']
sungdong_stations = last_station.loc[last_station.index.isin(sungdong)]
sungdong_stations

sungdonggu_df = pd.DataFrame(columns=sungdong_stations.columns, index=['성동구'])

for col in sungdong_stations.columns:
    sungdonggu_df.loc['성동구', col] = sungdong_stations[col].mean()

sungdonggu_df = sungdonggu_df.reset_index().rename(columns={'index': '구별'})
sungdonggu_df.set_index('구별', inplace=True) 
sungdonggu_df

           승차총승객수        하차총승객수          총승객수
구별
성동구  10219.285714  10377.785714  20596.928571

In [272]:
sungbuk=['길음', '성신여대입구', '한성대입구', '보문', '안암', '고려대', '월곡', '상월곡', '돌곶이']
sungbuk_stations = last_station.loc[last_station.index.isin(sungbuk)]
sungbuk_stations

sungbukgu_df = pd.DataFrame(columns=sungbuk_stations.columns, index=['성북구'])

for col in sungbuk_stations.columns:
    sungbukgu_df.loc['성북구', col] = sungbuk_stations[col].mean()

sungbukgu_df = sungbukgu_df.reset_index().rename(columns={'index': '구별'})
sungbukgu_df.set_index('구별', inplace=True) 
sungbukgu_df

          승차총승객수       하차총승객수          총승객수
구별
성북구  9957.333333  9657.222222  19614.555556

In [273]:
songpa=['잠실나루', '잠실', '잠실새내', '종합운동장', '가락시장', '경찰병원', '오금', '올림픽공원', '방이', '오금', '개롱', '거여', '마천', '몽촌토성', '잠실', '석촌', '송파', '가락시장', '문정', '장지', '복정', '종합운동장', '삼전', '석촌고분', '송파나루', '한성백제', '올림픽공원']
songpa_stations = last_station.loc[last_station.index.isin(songpa)]
songpa_stations

songpagu_df = pd.DataFrame(columns=songpa_stations.columns, index=['송파구'])

for col in songpa_stations.columns:
    songpagu_df.loc['송파구', col] = songpa_stations[col].mean()

songpagu_df = songpagu_df.reset_index().rename(columns={'index': '구별'})
songpagu_df.set_index('구별', inplace=True) 
songpagu_df

           승차총승객수        하차총승객수          총승객수
구별
송파구  10218.851852  10241.777778  20460.740741

In [274]:
yangchun=['양천구청', '신정네거리', '신정', '목동', '오목교']
yangchun_stations = last_station.loc[last_station.index.isin(yangchun)]
yangchun_stations

yangchungu_df = pd.DataFrame(columns=yangchun_stations.columns, index=['양천구'])

for col in yangchun_stations.columns:
    yangchungu_df.loc['양천구', col] = yangchun_stations[col].mean()

yangchungu_df = yangchungu_df.reset_index().rename(columns={'index': '구별'})
yangchungu_df.set_index('구별', inplace=True) 
yangchungu_df

      승차총승객수   하차총승객수     총승객수
구별
양천구  12325.6  12385.0  24710.8

In [275]:
yeongdeungpo=['문래', '영등포구청', '당산', '양평', '영등포구청', '영등포시장', '신길', '여의도', '여의나루', '신풍', '대림']
yeongdeungpo_stations = last_station.loc[last_station.index.isin(yeongdeungpo)]
yeongdeungpo_stations

yeongdeungpogu_df = pd.DataFrame(columns=yeongdeungpo_stations.columns, index=['영등포구'])

for col in yeongdeungpo_stations.columns:
    yeongdeungpogu_df.loc['영등포구', col] = yeongdeungpo_stations[col].mean()

yeongdeungpogu_df = yeongdeungpogu_df.reset_index().rename(columns={'index': '구별'})
yeongdeungpogu_df.set_index('구별', inplace=True) 
yeongdeungpogu_df

            승차총승객수   하차총승객수          총승객수
구별
영등포구  12745.916667  13092.0  25837.833333

In [276]:
yongsan=['서울', '숙대입구', '삼각지', '신용산', '이촌', '효창공원앞', '삼각지', '녹사평', '이태원', '한강진']
yongsan_stations = last_station.loc[last_station.index.isin(yongsan)]
yongsan_stations

yongsangu_df = pd.DataFrame(columns=yongsan_stations.columns, index=['용산구'])

for col in yongsan_stations.columns:
    yongsangu_df.loc['용산구', col] = yongsan_stations[col].mean()

yongsangu_df = yongsangu_df.reset_index().rename(columns={'index': '구별'})
yongsangu_df.set_index('구별', inplace=True) 
yongsangu_df

     승차총승객수       하차총승객수     총승객수
구별
용산구  8156.0  8409.888889  16566.0

In [277]:
eunpyeong=['구파발', '연신내', '불광', '녹번', '응암', '역촌', '불광', '독바위', '연신내', '구산', '새절', '증산', '디지털미디어시티']
eunpyeong_stations = last_station.loc[last_station.index.isin(eunpyeong)]
eunpyeong_stations

eunpyeonggu_df = pd.DataFrame(columns=eunpyeong_stations.columns, index=['은평구'])

for col in eunpyeong_stations.columns:
    eunpyeonggu_df.loc['은평구', col] = eunpyeong_stations[col].mean()

eunpyeonggu_df = eunpyeonggu_df.reset_index().rename(columns={'index': '구별'})
eunpyeonggu_df.set_index('구별', inplace=True) 
eunpyeonggu_df

           승차총승객수        하차총승객수          총승객수
구별
은평구  11668.846154  11266.769231  22935.846154

In [278]:
jongro=['종각', '종로3가', '종로5가', '동대문', '동묘앞', '경복궁', '안국', '종로3가', '혜화', '동대문', '서대문', '광화문', '종로3가', '동묘앞', '창신']
jongro_stations = last_station.loc[last_station.index.isin(jongro)]
jongro_stations

jongrogu_df = pd.DataFrame(columns=jongro_stations.columns, index=['종로구'])

for col in jongro_stations.columns:
    jongrogu_df.loc['종로구', col] = jongro_stations[col].mean()

jongrogu_df = jongrogu_df.reset_index().rename(columns={'index': '구별'})
jongrogu_df.set_index('구별', inplace=True) 
jongrogu_df

      승차총승객수        하차총승객수          총승객수
구별
종로구  17520.0  17593.928571  35114.142857

In [279]:
jung=['시청', '을지로입구', '을지로3가', '을지로4가', '동대문역사문화공원', '신당', '을지로3가', '충무로', '동대입구', '약수', '동대문역사문화공원', '충무로', '명동', '회현', '을지로4가', '동대문역사문화공원', '청구', '버티고개', '약수', '청구', '신당']
jung_stations = last_station.loc[last_station.index.isin(jung)]
jung_stations

junggu_df = pd.DataFrame(columns=jung_stations.columns, index=['중구'])

for col in jung_stations.columns:
    junggu_df.loc['중구', col] = jung_stations[col].mean()

junggu_df = junggu_df.reset_index().rename(columns={'index': '구별'})
junggu_df.set_index('구별', inplace=True) 
junggu_df

     승차총승객수    하차총승객수      총승객수
구별
중구  12057.9  12311.15  24369.15

In [280]:
junglang=['봉화산', '신내', '먹골', '중화', '상봉', '면목', '사가정', '용마산']
junglang_stations = last_station.loc[last_station.index.isin(junglang)]
junglang_stations

junglanggu_df = pd.DataFrame(columns=junglang_stations.columns, index=['중랑구'])

for col in junglang_stations.columns:
    junglanggu_df.loc['중랑구', col] = junglang_stations[col].mean()

junglanggu_df = junglanggu_df.reset_index().rename(columns={'index': '구별'})
junglanggu_df.set_index('구별', inplace=True) 
junglanggu_df

       승차총승객수   하차총승객수      총승객수
구별
중랑구  9023.125  8767.75  17790.75

In [282]:
seoul_stations=pd.concat([gangnamgu_df,gangdonggu_df,gangbukgu_df,gangseogu_df,gwanakgu_df,gwangjingu_df,gurogu_df,
                          geumchungu_df,nowongu_df,dobonggu_df,dongdaemoongu_df,dongjakgu_df,mapogu_df,seodaemoongu_df,
                          seochogu_df,sungdonggu_df,sungbukgu_df,songpagu_df,yangchungu_df,yeongdeungpogu_df,yongsangu_df,
                          eunpyeonggu_df,jongrogu_df,junggu_df,junglanggu_df])
seoul_stations.sort_values(by='총승객수',ascending=False)

            승차총승객수        하차총승객수          총승객수
구별
관악구       30948.25      29882.75      60831.25
금천구        25051.0       26193.0       51244.0
강북구        22947.0  22560.333333  45507.666667
강남구   19304.142857  19938.857143  39242.904762
종로구        17520.0  17593.928571  35114.142857
서초구   17011.166667  17169.916667  34181.333333
도봉구   17297.666667  16777.666667       34075.0
구로구       16973.75     16989.375     33963.125
광진구   16128.909091  15885.636364  32014.636364
동작구   14362.083333  14036.583333      28398.75
영등포구  12745.916667       13092.0  25837.833333
강서구   12976.888889  12552.111111  25529.222222
양천구        12325.6       12385.0       24710.8
마포구     12114.4375       12481.5    24595.8125
중구         12057.9      12311.15      24369.15
노원구   12072.538462  11778.692308  23851.384615
은평구   11668.846154  11266.769231  22935.846154
동대문구  10426.333333  10420.333333  20846.666667
성동구   10219.285714  10377.785714  20596.928571
송파구   10218.851852  10241.777778  20460.740741
강동구    9944.642857   9759.642857  19704.142857
성북구    9957.333333   9657.222222  19614.555556
중랑구       9023.125       8767.75      17790.75
용산구         8156.0   8409.888889       16566.0
서대문구        7659.2        7676.0       15335.4